{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Profile</h1>
        <p>Nom complet : {{ employee.fullName }}</p>
        <p>@ Adresse Email : {{ employee.emailAddress }}</p>
        <p>CIN : {{ employee.identityCode }}</p>
        <p>Department : {{ employee.department.name }}</p>
        <p>
            <a href="{{ url('app_edit_employee', {employeeIdentifier: employee.id }) }}">
                <i class="fa-solid fa-pen-to-square"></i> Editer les informations
            </a>
        </p>
        <p>
            <a href="{{ url('app_employee_send_password', {id: employee.id}) }}">
                <i class="fa-solid fa-key"></i> Envoyer le code pin
            </a>
        </p>
    </div>
{% endblock content %}
