{% use 'form/common/errors.html.twig' %}
{% block _blog_title_row %}
    {% set isInvalid = errors | length > 0 %}
    <div class="mt-4">
        {{ form_label(form, 'Title', {label_attr: {class: 'form-label' ~ (isInvalid ? ' text-danger' : '')}}) }}
        {{ form_help(form) }}
        {{ form_widget(form, {attr: {class: 'form-control' ~ (isInvalid ? ' is-invalid' : '')}}) }}
    </div>
    {{ form_errors(form) }}
{% endblock _blog_title_row %}

{% block _blog_title_help %}
    <small class="form-text text-muted ">
        <i class="fa-regular fa-circle-question"></i> {{ help }}
    </small>
{% endblock _blog_title_help %}

{% block _blog_content_row %}
    {% set isInvalid = errors | length > 0 %}
    <div class="mt-4">
        {{ form_label(form, 'Content', {label_attr: {class: 'form-label' ~ (isInvalid ? ' text-danger' : '')}}) }}
        {{ form_widget(form, {attr: {class: 'form-control'  ~ (isInvalid ? ' is-invalid' : '')  , autocomplete: 'off', rows: 10}}) }}
        {{ form_help(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock _blog_content_row %}

{% block _blog_title_label %}
    <label {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>{{ label }}</label>
{% endblock _blog_title_label %}
